#container{
    background-color: lightsalmon;
    width: 100%;

    #login{
        position: relative;
        background-color: lightsteelblue;
        width: 100%;
        height: 340rpx;
        display: flex;
        justify-content: center;
        align-items: center;

        image{
            width: 78px;
            height: 78px;
            border-radius: 50%;
        }

        .login-success{
            position: absolute;
            z-index: 100;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .mask{
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            filter: blur(10px);
        }
    }
}