/* 匹配一个屏幕且他的宽度大于1200px */
p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.container {
  border: 1px solid black;
  font-size: 20px;
  column-count: 4;
  column-gap: 50px;
  column-rule: 10px dotted red;
}