ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
div.slide {
  width: 100%;
  height: 3rem;
  overflow: hidden;
}
div ul {
  /* 一屏的宽度 */
  width: 10rem;
  height: 3rem;
  position: relative;
  transition: all 0.4s;
}
div ul li {
  width: 10rem;
  height: 3rem;
  position: absolute;
}
div ul li.pink {
  background-color: pink;
}
div ul li.yellowgreen {
  background-color: yellowgreen;
}
div ul li.skyblue {
  background-color: skyblue;
}
div ul li:nth-child(1) {
  left: -100%;
}
div ul li:nth-child(2) {
  left: 0;
}
div ul li:nth-child(3) {
  left: 100%;
}
div ul li:nth-child(4) {
  left: 200%;
}
div ul li:nth-child(5) {
  left: 300%;
}
