
#lp-banner-ul1 {
    width: calc(100% * 5);
    display: flex;
}

#lp-banner-ul1>li {
    list-style: none;
    /* max-height: 460px; */
    
}

#lp-banner-ul1 img {
    width: 100%;
    /* height: 100%; */
}

#lp-banner-ul2 {
    position: absolute;
    display: flex;
    top: 90%;
    left: 45%;
}

#lp-banner-ul2>li {
    background-color: black;
    list-style: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
}

#lp-banner-ul2>.selectLi {
    background-color: white;
    transform: scale(1.5,1.5);
}

#lp-banner-left,#lp-banner-right{
    /* background-color: chartreuse; */
    width: 48px;
    height: 48px;
    position: absolute;
    top: calc(50% - 25px);
    border-radius: 50%;
    /* opacity: .5; */
}
#lp-banner-left{
    left: 30px;
    background-image: url(../sources/右箭头（圆形）.png);
}
#lp-banner-right{
    background-image: url(../sources/右箭头-圆.png);
    right: 30px;
}
#lp-banner-left:hover,#lp-banner-right:hover{
    background-color: white;
    opacity: .8;
}