html {
  font-size: 75px;
}
#lp-container {
  min-width: 1200px;
}
/* lp-nav start */
#lp-nav {
  background-color: #79ac2f;
  width: 100%;
  height: 0.666667rem /* 50/75 */;
}
/* lp-nav end */
#lp-banner {
  width: 100%;
}
