/* ulnav start */
#lp-nav-container{
    background-color: aqua;
    box-sizing: border-box;
    width: 16rem /* 1200/75 */;
    margin: 0 auto;
    height: 100%;
    display: flex;
}
#lp-nav-container>li:nth-child(1){
    border-left: 1px solid gray;
}
.lp-nav-lis{
    box-sizing: border-box;
    flex: 1 1 0;
    text-align: center;
    position: relative;
    font-size: 18px;
    border-right: 1px solid gray;
}

.lp-nav-lis-ul{
    /* display: none; */
    /* background-color: lightcoral; */
    height: 2.666667rem /* 200/75 */;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -1px;
    transition: all .5s;
    overflow: hidden;
    z-index: 100;
    background-color: burlywood;
}
.lp-nav-lis-ul>li{
    width: 100%;
    flex: 1 1 0;
    font-size: 16px;
}
.lp-nav-lis-ul>li:hover{
    background-color: antiquewhite;
}

.nav-lis-ul-dis{
    height: 0;
}

/* ulnav  end */

/* MASK START*/
.lp-mask{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(70, 58, 58, 0.4);
    width: 100%;
    height: 100%;
}
.lp-login{
    display: none;
    box-sizing: border-box;
    position: fixed;
    width: 300px;
    height: 200px;
    background-color: seashell;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    z-index: 1000;
    padding: 50px;
}
.lp-login>li{
    margin-bottom: 30px;
}
.lp-login>li:nth-child(3)>input:nth-child(1){
    margin-left: 40px;
    margin-right: 80px;
}
/* MASL END*/
