.container{
    width: 100%;
}
.lp-nav{
    // background-color: greenyellow;
    display: flex;
    height: 150rpx;
    padding: 20px 10px;

    .lp-nav-content{
        height: 100%;
    }
}

.lp-title{
    color: lightpink;
}

.shoping{
    display: grid;
    grid-template-columns: repeat(3,33.3%);
    grid-template-rows: 50% 50%;
    height: 360rpx;
    width: 100%;
    image{
        width: 100%;
        height: 100%;
    }
}